:root{
    --primary-color:#ea4425;
    --secondary-color:#764d2a;
    --light: #ffffff;
    --dark: #000;
}
/* ...................... common styles ...................... */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&family=Rubik:wght@400;500;700&display=swap");
*{
    font-family: "Ubuntu", sans-serif;
}
/* ...................... common styles END ...................... */
.section-1,.section-2,.section-3,.section-4,.section-5,.section-6{
    padding: 50px 0;
    position: relative;
}
/* animations */
  @keyframes flip-vertical-right {/* animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both; */
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    50% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  
  @keyframes dropdown {
    0%{
      transform: translateY(20px);
    }
    100%{
      transform: translateY(0);
    }
    
  }

/* ...................................... navbar ................................ */
header .navbar{
    background: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px 20px;
    z-index: 999;
    .container-fluid{
        z-index: 1;
    }
    img{
        height: 90px;
    }
    .navbar-collapse{
        justify-content: flex-end;
    }
    .navbar-nav{
        width: 85%;
    }
    .nav-item{
      padding: 0 30px;
    }
    .nav-item .nav-link{
        font-weight: bold;
        color: rgb(255, 255, 255);
        letter-spacing: 2px;
    }
    
    .dropdown-menu{
      border: 0;
      border-radius: 0;
      .dropdown-item.active,.dropdown-item:active{
        background-color: #ff5233;
      }
    }
    .dropdown-menu::before{
      content: '';
      background-color: var(--primary-color);
      width: 100%;
      height: 3px;
      top: 0;
      position: absolute;
    }
     .nav-item:hover .dropdown-menu {/* dropdown toggle */
      display: block;
      animation: dropdown 0.3s linear both;
    }
}
header .navbar::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 0;
    left: 0;
    transform: translateY(-100%);
    transition: 0.5s;
}
header .navbar.scrolled{
    .nav-item .nav-link{
        color: rgb(0, 0, 0);
    }
}
header .navbar.scrolled::before{
    transform: translateY(0);
}
@media screen and (max-width:765px) {
  header .navbar{
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px 20px;
    z-index: 999;
    .container-fluid{
        z-index: 1;
    }
    .navbar-brand{
      z-index: 99;
    }
    img{
        height: 70px;
        z-index: 999;
    }
    .navbar-collapse{
        justify-content: flex-end;
    }
    .navbar-nav{
        width: 60%;
    }
    .nav-item .nav-link{
        font-weight: bold;
        color: black;
        font-size: 20px;
    }
    .navbar-toggler{/* navbar toggler */
      border: 0;
      height: 50px;
      width: 50px;
      position: relative;
      display: flex;
      justify-content: center;
      color: transparent;
      z-index: 99;
      *{
        position: absolute;
        background-color: var(--primary-color);
        height: 5px;
        border-radius: 5px;
        width: 80%;
        transition: 0.4S;
        opacity: 1;
      }
      .line1{
        top: 10px;
      }
      .line2{
        top: 23px;
      }
      .line3{
        top: 23px;
      }
      .line4{
        top: 35px;
      }
    }
    .navbar-toggler.show{
      .line1{
        transform: translateY(-100%);
        opacity: 0;
      }
      .line2{
        transform: rotate(45deg);
      }
      .line3{
        transform: rotate(136deg);
      }
      .line4{
        transform: translateY(100%);
        opacity: 0;
      }
    }
    .navbar-collapse{/* navbar collapse */
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 90px;
      left: 0;
      display: flex;
      background-color: white;
      transform: translateY(-100%);
      transition: 1s;
      display: flex;
      align-items: self-start;
      text-align: center;
      justify-content: center;
      padding-top: 30px;
    }
    .navbar-collapse.show{
      transform: translateY(0);
    }
}
header .navbar::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 0;
    left: 0;
    transform: translateY(-100%);
    transition: 0.5s;
}
header .navbar.scrolled{
    .nav-item .nav-link{
        color: rgb(0, 0, 0);
    }
}
header .navbar.scrolled::before{
    transform: translateY(0);
}
}
/* ...................................... navbar END ................................ */

/* ...................................... banner ................................ */
header .banner{
    width: 100%;
    height: 100vh;
    background: url(../img/banner/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    .caption-div{
        text-align: center;
        h1{
            font-weight: bolder;
            color: white;
            font-size: 4rem;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #973434d7, 0 3px 0 #97343480, 0 4px 0 #973434, 0 50px 30px rgba(0, 0, 0, 0.3);
        }
        h2{
            text-transform: capitalize;
            color: white;
        }
    }
}
/* ...................................... banner END ................................ */

/* ...................................... section-1 about................................ */
.section-1{
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    height: 600px;
    overflow: hidden;
    display: flex;
    align-items: center;
    .about-img{
        height: 500px;
        right: -20%;
        position: absolute;
        top: 50px;

    }
    h3{
        color: #4e4341b8;
        font-size: 2rem;
        letter-spacing: 2px;
    }
}
@media screen and (max-width:765px) {
  .section-1{
    width: 100%;
    padding: 50px 0;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    .about-img{
        display: none;

    }
    h3{
        color: #4e4341b8;
        font-size: 1.5rem;
        letter-spacing: 2px;
        text-align: center;
    }
}
}
/* ...................................... section-1 about END ................................ */

/* ...................................... section-2 properties ................................ */
.section-2{
  position: relative;
  

  .card-sliderr{/* Slider */
    .section-1-2 .slick-slide {
      margin: 0px 20px;
  }
  .logo-sldr .slick-track{
    display: flex !important;
    align-items: center;
  }
  .section-1-2 .slick-slide img {
      width: 100%;
  }
  
  .section-1-2 .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
        user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .section-1-2 .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  .section-1-2 .slick-list:focus
  {
      outline: none;
  }
  .section-1-2 .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .section-1-2 .slick-slider .slick-track,
  .section-1-2 .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .section-1-2 .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
      display: block;
  }
  .section-1-2 .slick-track:before,
  .section-1-2 .slick-track:after
  {
      display: table;
      content: '';
  }
  .section-1-2 .slick-track:after
  {
      clear: both;
  }
  .section-1-2 .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .section-1-2 .slick-slide
  {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
      padding: 10px;
  }
  [dir='rtl'].slick-slide
  {
      float: right;
  }
  .section-1-2 .slick-slide img
  {
      display: block;
  }
  .section-1-2 .slick-slide.slick-loading img
  {
      display: none;
  }
  .section-1-2 .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .section-1-2 .slick-initialized .slick-slide
  {
      display: block;
  }
  .section-1-2 .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .section-1-2 .slick-vertical .slick-slide
  {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  .section-1-2 .slick-arrow.slick-hidden {
      display: none;
  }/* end common styles */
  

  .card{
    border: 0;
    transition: transform 0.5s;
    cursor: pointer;
    margin-bottom: 30px;
    .img-div{
      width: 100%;
      height: 200px;
      overflow: hidden;
      position: relative;
      img{
        width: 100%;
      }
      .place{
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: white;
        font-size: 15px;
        text-shadow: 0px 3px 2px #000000a8;
        i{
          font-size: 12px;
        }
      }
    }
    .popertie-name{
      font-size: 18px;
      text-transform: capitalize;
      font-weight: bold;
      color: #9f2610;
    }
    .price{
      color: rgb(48, 210, 48);
      font-weight: 600;
    }
    .description{
      color: rgba(41, 36, 36, 0.574);
      font-size: 12px;
    }
    .share{
      position: absolute;
      right: 0px;
      top: 15px;
      width: 30px;
      height: 30px;
      display: flex;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      background-color: white;
    }
    .card-footer{
      display: flex;
      justify-content: space-between;
      background: white;
      border: 0;
      .name{
        font-weight: bold;
        text-transform: capitalize;
      }
      .call{
        color: rgb(25 25 89);
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        padding: 5px 10px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: flex;
      }
      .call::before{
        content: '';
        background: rgb(25 25 89);
        z-index: -1;
        position: absolute;
        bottom: 0;
        opacity: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: 0.5s;
      }
      .call:hover{
        color: white;
      }
      .call:hover::before{
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}
}
/* ...................................... section-2 properties END ................................ */


/* ...................................... section-3 features ................................ */
.section-3{
  padding: 100px 0;
  background: linear-gradient(360deg, rgba(255, 255, 255, 0.8436624649859944) 0%, rgba(234, 67, 37, 0.785) 50%, rgba(255, 255, 255, 0.8996848739495799) 100%);
  .row{
    padding: 20px 0px;
  }
  .card{
    text-align: center;
    padding: 60px 20px;
    border: 0;
    border-radius: 0;
    color: white;
    position: relative;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    .card-title{
      font-size: 35px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: var(--primary-color);
      font-weight: bold;
      -webkit-text-stroke: 2px #ea4425;
      -webkit-text-fill-color: #ffffff00;
    }
    p{
      color: rgba(0, 0, 0, 0.679);
    }
  }
  .row:nth-child(odd){
    padding-left: 30px;
  }
  .row:nth-child(even){
    justify-content: flex-end;
    padding-right: 30px;
  }
}
@media screen and (max-width:765px) {
  .section-3 .row{
    justify-content: center !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
/* ...................................... section-3 features END ................................ */



/* ...................................... footer ................................ */
body {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.footer {
  font-family: "Rubik", sans-serif;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding-top: 150px;
  h3 {
    font-family: "Noto Serif Display", serif;
    font-size: 2.3rem;
    font-weight: 300;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: var(--dark);
    font-weight: 400;
    transition: 0.3s ease-in;
    border-bottom: 1px solid transparent;
    margin-bottom: 0.5rem;
    display: inline-flex;
  }
  a:hover {
    border-bottom: 1px solid var(--dark);
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    background: transparent;
  }
  .flex {
    display: flex;
  }
  .footer_inner {
    background: var(--light);
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
    border: 0.1px solid rgba(233, 232, 232, 0.208);
    border-radius: 5px;
    padding: 2rem;
    margin: 1rem 0;
  }
  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 1rem 0 1rem;
    box-shadow: 0px 0px 2px 1px #00000061;
  }
  
  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(100%, 400px);
    border-bottom: 1px solid var(--dark);
  }
  
  input {
    padding: 0.75rem 0;
    border: none;
    background: none;
    font-weight: 500;
    transition: border 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 0;
    width: 100%;
    font-size: 1.05rem;
    font-weight: bolder;
  }
  input:focus {
    outline: none;
  }
  input::-moz-placeholder {
    color: var(--dark);
  }
  input:-ms-input-placeholder {
    color: var(--dark);
  }
  input::placeholder {
    color: var(--dark);
  }
  form {
    position: relative;
  }
  svg {
    margin: 0.5rem;
  }
  .c-2 {
    margin-top: 3.5rem;
  }
  .footer_copyright {
    color: var(--light);
  }
}

@media (min-width: 675px) {
  .layout {
    display: flex;
    flex-wrap: nowrap;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .w-50 {
    width: 50%;
  }
  .w-25 {
    width: 25%;
  }
}
