:root{
    --primary-color:#ea4425;
    --secondary-color:#764d2a;
}
/* ...................... common styles ...................... */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: "Ubuntu", sans-serif;
}
/* ...................... common styles END ...................... */
.section-1,.section-2,.section-3,.section-4,.section-5,.section-6{
    padding: 50px 0;
    position: relative;
}
/* animations */
  @keyframes flip-vertical-right {/* animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both; */
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    50% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  

/* ...................................... navbar ................................ */
header .navbar{
    background: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px 20px;
    z-index: 999;
    .container-fluid{
        z-index: 1;
    }
    img{
        height: 70px;
    }
    .navbar-collapse{
        justify-content: flex-end;
    }
    .navbar-nav{
        width: 60%;
    }
    .nav-item .nav-link{
        font-weight: bold;
        color: rgb(255, 255, 255);
    }
}
header .navbar::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 0;
    left: 0;
    transform: translateY(-100%);
    transition: 0.5s;
}
header .navbar.scrolled{
    .nav-item .nav-link{
        color: rgb(0, 0, 0);
    }
}
header .navbar.scrolled::before{
    transform: translateY(0);
}
/* ...................................... navbar END ................................ */

/* ...................................... banner ................................ */
header .banner{
    width: 100%;
    height: 100vh;
    background: url(../img/banner/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    .caption-div{
        text-align: center;
        h1{
            font-weight: bolder;
            color: white;
            font-size: 4rem;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #973434d7, 0 3px 0 #97343480, 0 4px 0 #973434, 0 50px 30px rgba(0, 0, 0, 0.3);
        }
        h2{
            text-transform: capitalize;
            color: white;
        }
    }
}
/* ...................................... banner END ................................ */

/* ...................................... section-1 about................................ */
.section-1{
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    height: 600px;
    overflow: hidden;
    display: flex;
    align-items: center;
    .about-img{
        height: 500px;
        right: -20%;
        position: absolute;
        top: 50px;

    }
    h3{
        color: #4e4341b8;
        font-size: 2rem;
        letter-spacing: 2px;
    }
}
/* ...................................... section-1 about END ................................ */

/* ...................................... section-2 properties ................................ */
.section-2{
    background: var(--secondary-color);
    padding: 100px 0;
    .card{
        width: 100%;
        border-radius: 0;
        overflow: hidden;
        border: 0;
        .img-div{
            width: 100%;
            height: 300px;
            position: relative;
        }
        .card-img{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 0;
            object-fit: cover;

        }
        .card-body{
            border: 0;
            .card-title{
                color: var(--secondary-color);
                font-size: 20px;
                font-weight: bold;
            }
            .card-price{
                color: rgb(61, 220, 61);
                font-size: 20px;
            }
            .card-txt{
                color: #423c36cf;
            }
        }
        .card-footer{
            background: transparent;
            border: 0;
            display: flex;
            justify-content: space-between;
            .name{
                text-transform: capitalize;
            }
            .share{
                border: 0;
                background-color: transparent;
                color: rgb(12, 12, 102);
                font-size: 20px;
            }
        }
    }
    .btn-view-all-div{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }
    .btn-view-all{
        padding: 10px 15px;
        background: white;
        text-decoration: none;
        text-transform: capitalize;
        color: var(--secondary-color);
        font-weight: bold;
        font-size: 20px;
        border: 2px solid var(--secondary-color);
        transition: 0.4s;
    }
    .btn-view-all:hover{
        color: white;
        background: var(--secondary-color);
        border: 2px solid white;

    }
}
/* ...................................... section-2 properties END ................................ */